body {
  font: 300 36px "Helvetica Neue";
  margin: 80px 160px 80px 160px;
  overflow: hidden;
  position: relative;
}

.molecule {
  height: 640px;
  width: 200px;
}

.intgraph {
  position: relative;
  height: 1000px;
  width: 1000px;
}

div.intgraph svg {
  position: absolute;
  top: -40px;
  left: -100px;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .2px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#slider1{
  width:10%;
  height:0%;
  top:0px;
  left:0px;
  position:absolute;
  cursor:pointer;
}

#slider2{
  width:10%;
  height:0%;
  top:50px;
  left:0px;
  position:absolute;
  cursor:pointer;
}

.ui-slider .ui-slider-handle{
    width:20px;
    height:20px;
    position:absolute;
    border-style:none;
}
