.copyright {
    opacity: 0.7;
}

.quote {
  font-style: italic;
  font-size: 18px;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
