<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.css" />
    <!-- endbower -->
    <!-- not included in the main list of the components' bower file, but still required -->
    <link rel="stylesheet" href="bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="bower_components/angular-foundation-colorpicker/css/colorpicker.css" />
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/chem-tree.css" />
    <link rel="stylesheet" href="styles/tree-slider.css" />
    <link rel="stylesheet" href="styles/tooltip.css" />
    <link rel="stylesheet" href="styles/info.css" />
    <link rel="stylesheet" href="styles/colorbar.css">
    <!-- endbuild -->
</head>

<body ng-app="frontendApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div id="wrapper">
    <div id="nav" ng-controller="NavController">
        <top-bar is-hover>
            <ul class="left">
                <li class="name">
                    <h1><a href="#/">ChemTreeMap</a></h1>
                </li>
                <li toggle-top-bar class="menu-icon">
                    <a>Menu</a>
                </li>
            </ul>

            <top-bar-section>
                <!-- Right Nav Section -->
                <ul class="right">
                    <li has-dropdown>
                        <a>
                            <div class="dropdown-type">Tree Type</div>
                            <div class="dropdown-value">{{dataService.current.treeType}}</div>
                        </a>
                        <ul top-bar-dropdown>
                            <li class="{{treeType === dataService.current.treeType ? 'active' : ''}}"
                                ng-repeat="treeType in dataService.available.treeTypes">
                                <a ng-click="dataService.setTreeType(treeType)">
                                    <span class="dropdown-name">{{treeType | truncate : 12 : '...'}}</span>
                        <span class="dropdown-info" ng-click="getInfo($event, treeType)">
                          <fa name="info-circle"></fa>
                        </span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li has-dropdown>
                        <a>
                            <div class="dropdown-type">Circle Size</div>
                            <div class="dropdown-value">{{dataService.current.circleSizeType}}</div>
                        </a>
                        <ul top-bar-dropdown>
                            <li class="{{circleSizeType === dataService.current.circleSizeType ? 'active' : ''}}"
                                ng-repeat="circleSizeType in dataService.available.circleSizeTypes">
                                <a ng-click="dataService.setCircleSizeType(circleSizeType)">
                                    <span class="dropdown-name">{{circleSizeType | truncate : 12 : '...'}}</span>
                                    <span class="dropdown-info" ng-click="getInfo($event, circleSizeType)"><fa name="info-circle"></fa></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li has-dropdown>
                        <a>
                            <div class="dropdown-type">Circle Border</div>
                            <div class="dropdown-value">{{dataService.current.circleBorderType}}</div>
                        </a>
                        <ul top-bar-dropdown>
                            <li class="{{circleBorderType === dataService.current.circleBorderType ? 'active' : ''}}"
                                ng-repeat="circleBorderType in dataService.available.circleBorderTypes">
                                <a ng-click="dataService.setCircleBorderType(circleBorderType)">
                                    <span class="dropdown-name">{{circleBorderType | truncate : 12 : '...'}}</span>
                                    <span class="dropdown-info" ng-click="getInfo($event, circleBorderType)"><fa name="info-circle"></fa></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li has-dropdown>
                        <a>
                            <div class="dropdown-type">Activity Metric</div>
                            <div class="dropdown-value">{{dataService.current.activityType | truncate : 12 : '...'}}</div>
                        </a>
                        <ul top-bar-dropdown>
                            <li class="{{activityType === dataService.current.activityType ? 'active' : ''}}"
                                ng-repeat="activityType in dataService.available.activityTypes">
                                <a ng-click="dataService.setActivityType(activityType)">
                                    <span class="dropdown-name">{{activityType}}</span><span class="dropdown-info" ng-click="getInfo($event, activityType)"><fa name="info-circle"></fa></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-form">
                        <fa name="search" class="magnifying-glass"></fa>
                        <script type="text/ng-template" id="customTemplate.html">
                            <a class="typeahead-item">
                                <img ng-src="images/{{match.model.orig_id}}.svg" width="32">
                                <div class="typeahead-label" ng-bind-html="'BindingDB:' + match.label | truncate:20:'...' | typeaheadHighlight:query"></div>
                                <div class="typeahead-id" ng-bind-html="'PubChem:' + match.model.PubChem"></div>
                            </a>
                        </script>
                        <input class="dream-search" type="text"
                               ng-model="currentSearch"
                               typeahead='compound as compound.orig_id for compound in dataService.data.compounds | filter:$viewValue | limitTo:8'
                               placeholder="Search"
                               typeahead-on-select="select($item)"
                               typeahead-loading="loading"
                               typeahead-template-url="customTemplate.html">
                        <i class="fa fa-loading" ng-show="loading"></i>
                    </li>
                    <li>
                        <a ng-click="openSettings()">
                            <fa name="cog"></fa>
                            <span class="icon-label">Settings</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="openInfo()">
                            <fa name="info-circle"></fa>
                            <span class="icon-label">Info</span>
                        </a>
                    </li>
                </ul>
            </top-bar-section>
        </top-bar>
    </div>

    <div id="content" ng-view=""></div>

</div>


<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/modernizr/modernizr.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/waypoints/waypoints.js"></script>
<script src="bower_components/SHA-1/sha1.js"></script>
<script src="bower_components/angulartics/src/angulartics.js"></script>
<script src="bower_components/angulartics/src/angulartics-adobe.js"></script>
<script src="bower_components/angulartics/src/angulartics-chartbeat.js"></script>
<script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
<script src="bower_components/angulartics/src/angulartics-flurry.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
<script src="bower_components/angulartics/src/angulartics-ga.js"></script>
<script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
<script src="bower_components/angulartics/src/angulartics-kissmetrics.js"></script>
<script src="bower_components/angulartics/src/angulartics-mixpanel.js"></script>
<script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
<script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
<script src="bower_components/angulartics/src/angulartics-segmentio.js"></script>
<script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
<script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
<script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
<script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
<script src="bower_components/fastclick/lib/fastclick.js"></script>
<script src="bower_components/jquery.cookie/jquery.cookie.js"></script>
<script src="bower_components/jquery-placeholder/jquery.placeholder.js"></script>
<script src="bower_components/foundation/js/foundation.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
<script src="bower_components/angular-fontawesome/dist/angular-fontawesome.js"></script>
<script src="bower_components/angular-foundation-colorpicker/js/foundation-colorpicker-module.js"></script>
<script src="bower_components/ng-file-upload/angular-file-upload.js"></script>
<script src="bower_components/d3/d3.js"></script>
<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
<script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script src="bower_components/angular-sweetalert/SweetAlert.js"></script>
<script src="bower_components/sweetalert2/dist/sweetalert2.min.js"></script>
<script src="bower_components/d3-tip/index.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/nav.js"></script>
<script src="scripts/directives/chem-tree.js"></script>
<script src="scripts/services/data-service.js"></script>
<script src="scripts/controllers/tree.js"></script>
<script src="scripts/controllers/settings.js"></script>
<script src="scripts/services/settings.js"></script>
<script src="scripts/directives/tooltip.js"></script>
<script src="scripts/directives/tree-slider.js"></script>
<script src="scripts/controllers/info.js"></script>
<!-- endbuild -->
</body>
</html>