body {
  font: 36px "Helvetica Neue";
  margin: 80px 160px 80px 160px;
  overflow: hidden;
  position: relative;
}

p {
  font-size:15px;
}

.molecule {
  bottom:0px;
  height: 640px;
  width: 200px;
}

.info{
  position:absolute;
  cursor:pointer;
  float:left;
  z-index:10;
}

div.intgraph svg {
  position: relative;
  top: -40px;
  left: -100px;
}

circle.node {
  cursor: pointer;
  stroke: #000;
  stroke-width: .1px;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

#slider1{
  width:50%;
}

#slider2{
  width:50%;
}

#slider3{
  width:50%;
}

#slider4{
  width:50%;
}

#less{
  padding:0;
  margin:0 1px 0 1px;
  width:50%;
  height:50%;
  font-size:15px
}

#more{
  padding:0;
  margin:0 1px 0 1px;
  width:50%;
  height:50%;
  font-size:15px
}

.ui-slider .ui-slider-handle{
    width:20px;
    height:20px;
    position:absolute;
    border-style:none;
}
